<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{pendientes}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filter of filtros" (click)="cambiarFiltro(filter)">
      <a [class.selected]="filter==filtroActual">{{filter | titlecase}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="limpiarCompletados()">Clear completed</button>
</footer>
